<div class="container">
  <div class="header">
    <h1 class="title" style="text-align: center;">UseFul Links</h1>
    <div class="navigation">
      <button 
        class="nav-button" 
        [disabled]="currentPage === 0"
        (click)="goToPrevPage()">
        <i class="icon-chevron-left"></i>
        <span class="sr-only">Previous</span>
      </button>
      <span class="page-indicator">
        {{ currentPage + 1 }} / {{ totalPages }}
      </span>
      <button 
        class="nav-button" 
        [disabled]="currentPage === totalPages - 1"
        (click)="goToNextPage()">
        <i class="icon-chevron-right"></i>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>

  <div class="card-container">
    <div *ngFor="let category of currentCards" class="card">
      <div class="card-header">
        <h2 class="card-title">{{ category.name }}</h2>
      </div>

      <!-- Initial card view with image -->
      <div *ngIf="!expandedCards[category.id]" class="card-content">
        <div class="image-container">
          <img [src]="category.imageSrc" [alt]="category.name" class="card-image">
        </div>
        <div class="button-container">
          <button 
            class="button button-internet" 
            (click)="toggleCard(category.id, 'internet')">
            <i class="icon-globe"></i>
            <span>Internet</span>
          </button>
          <button 
            class="button button-gdrive" 
            (click)="toggleCard(category.id, 'gdrive')">
            <i class="icon-drive"></i>
            <span>GDrive</span>
          </button>
        </div>
      </div>

      <!-- Expanded view with tabs -->
      <div *ngIf="expandedCards[category.id]" class="tabs-container">
        <div class="tabs-header">
          <button 
            [class.active]="activeTab[category.id] === 'internet'"
            (click)="setActiveTab(category.id, 'internet')" 
            class="tab-button">
            <i class="icon-globe"></i>
            <span>Internet</span>
          </button>
          <button 
            [class.active]="activeTab[category.id] === 'gdrive'"
            (click)="setActiveTab(category.id, 'gdrive')" 
            class="tab-button">
            <i class="icon-drive"></i>
            <span>GDrive</span>
          </button>
        </div>

        <!-- Internet Links -->
        <div *ngIf="activeTab[category.id] === 'internet'" class="tab-content">
          <ul class="link-list">
            <li *ngFor="let item of category.internet" class="link-item">
              <a href="#" class="link">
                <i class="icon-globe"></i>
                <span>{{ item }}</span>
              </a>
            </li>
          </ul>
        </div>

        <!-- GDrive Links -->
        <div *ngIf="activeTab[category.id] === 'gdrive'" class="tab-content">
          <ul class="link-list">
            <li *ngFor="let item of category.gdrive" class="link-item">
              <a href="#" class="link">
                <i class="icon-drive"></i>
                <span>{{ item }}</span>
              </a>
            </li>
          </ul>
        </div>

        <!-- Close Button -->
        <div class="card-footer">
          <button class="close-button" (click)="closeCard(category.id)">
            <span>Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

